# Секреты — никогда не в Git!
.env
.env.local
.env.*.local

# Зависимости
node_modules/

# Сборки
dist/
build/

# Логи
*.log
logs/

# TypeScript кэш
*.tsbuildinfo

# macOS мусор
.DS_Store

# IDE
.vscode/
.idea/

# Local Netlify folder
.netlify
